.alert-debug {
  background-color: #fff;
  border-color: #d6e9c6;
  color: #000; }

.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48; }

.navbar {
  min-height: 60px;
  line-height: 40px;
  padding: 0 36px 0 72px;
  font-size: 20px;
  font-weight: 500;
  color: white;
  background-color: #e94573;
  z-index: 1;
  -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2); }

.navbar-brand {
  font-family: "Comfortaa", sans-serif; }

.nav-link {
  font-size: 16px;
  font-size: 1rem; }

a {
  color: #2580ef; }
  a:hover {
    color: #0e5bba; }

.bg-base {
  background-color: #fafafa; }

div.container {
  max-width: 90%;
  margin: 10vh auto; }

div.card {
  margin: 10vh auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px 50px;
  overflow: hidden;
  border-radius: 2px;
  background-color: white;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12); }
  div.card > * {
    margin-top: 10px;
    margin-bottom: 10px; }

a.button, button.points {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  border-radius: 2px;
  font-size: 14px;
  font-weight: 500;
  margin-right: 5px;
  padding: 8px 16px;
  min-height: calc(16px + 1.42857143em);
  text-transform: uppercase;
  border: 0;
  background-image: none;
  background-color: white;
  text-shadow: none;
  position: relative;
  color: #e94573; }
  a.button[disabled], button.points[disabled] {
    background-color: rgba(0, 0, 0, 0.12) !important;
    color: rgba(0, 0, 0, 0.25) !important;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
    cursor: default; }
  a.button.secondary, button.points.secondary {
    color: #2580ef; }
  a.button.active, button.points.active {
    background-color: #e94573;
    color: white; }
    a.button.active.secondary, button.points.active.secondary {
      background-color: #2580ef; }

a.button:hover {
  text-decoration: none; }

.index h1 {
  margin: 0;
  font-size: 32px;
  font-size: 2rem;
  font-family: "Comfortaa", sans-serif; }

.index h2 {
  font-size: 24px;
  font-size: 1.5rem;
  font-weight: normal; }

.index table {
  border: 1px solid #EEE;
  border-radius: 10px; }
  .index table td {
    padding: 12px 10px; }
  .index table tr:nth-child(even) {
    background-color: #f8f8f8; }

.round-start {
  min-height: 450px;
  text-align: center; }
  .round-start h2 {
    font-size: 32px;
    font-size: 2rem;
    font-family: "Comfortaa", sans-serif; }
  .round-start h1 {
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 112px;
    font-size: 7rem;
    font-family: "Comfortaa", sans-serif; }

.question {
  min-height: 450px;
  text-align: center; }
  .question h1 {
    font-size: 48px;
    font-size: 3rem; }
  .question h2 {
    font-size: 24px;
    font-size: 1.5rem;
    font-family: "Comfortaa", sans-serif; }

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.mark-round h1 {
  font-size: 24px;
  font-size: 1.5rem; }

.mark-round h2 {
  font-size: 24px;
  font-size: 1.5rem;
  font-family: "Comfortaa", sans-serif; }

.full-size {
  min-height: 80vh; }
