{% extends 'games/round_base.html' %}
{% load static %}

{% block class %}
  mark-round
{% endblock %}

{% block content %}
  {% csrf_token %}
  <h1>Round {{ round.number }} - {{ round.name }}</h1>

  {% for question in round.questions.all %}
    <div class="card">
      {% include "games/partials/question.html" %}
      <strong>Answer</strong>
      {{ question.answer|linebreaksbr }}
      {% include "games/partials/mark_answer_table.html" %}
    </div>
  {% endfor %}
  <div class="bottom-buttons">
    <a class="button primary"
       href="{% url 'games:end_marking' round.game.id round.number %}"
    >Done marking</a>
  </div>
{% endblock content %}

{% block page_js %}
  <script src="{% static 'js/refresh_mark_tables.js' %}"></script>
{% endblock %}
