{% extends 'games/round_base.html' %}
{% load static %}

{% block class %}
  mark-round
{% endblock %}

{% block content %}

  <div class="timer" hidden></div>
  <div id="seconds-left" hidden></div>

  {% csrf_token %}
  <h1>Round {{ round.number }} - {{ round.name }}</h1>

  {% for question in round.questions.all %}
    <div class="card">
      {% include "games/partials/question.html" %}
      <strong>Answer</strong>
      {{ question.answer|linebreaksbr }}
      <div class="scroll">
        {% include "games/partials/mark_answer_table.html" %}
      </div>
    </div>
  {% endfor %}

  <div class="bottom-buttons">
    <button
            onclick="getRequest('{% url 'games:set_timer' round.game.id round.number %}')"
    >Set 2min timer
    </button>
    <a class="button primary"
       href="{% url 'games:end_marking' round.game.id round.number %}"
    >Done marking</a>
  </div>
{% endblock content %}

{% block page_js %}
  <script src="{% static 'js/refresh_mark_tables.js' %}"></script>
  <script>
    const url = '{% url "games:time_left" round.game.id round.number %}';
  </script>
  <script src="{% static 'js/countdown_timer.js' %}"></script>
{% endblock %}
