{% extends 'base.html' %}

{% block class %}
  index
{% endblock %}

{% block content %}
  <div class="card">
    <h1>{{ game.name }}</h1>
    <p>{{ game.start_time }}</p>
  </div>
  <div class="card">
    <h2>Rounds</h2>
    {% if request.user.is_authenticated %}
      {% include "games/partials/round_table_admin.html" %}
    {% else %}
      {% include "games/partials/round_table_player.html" %}
    {% endif %}
  </div>

  {% if not request.user.is_authenticated %}
    <div class="card">
      <h2>Teams</h2>
      <table>
        <tr>
          <th>Team name</th>
          <th>Score</th>
        </tr>
        {% for team in game.teams.all %}
          <tr>
            <td>{{ team.name }}</td>
            <td>{{ team.score }}</td>
          </tr>
        {% endfor %}
      </table>
    </div>
    <div class="card">
      <h2>Your Team</h2>
      {% if team %}
        <div class="flex">
          <h3>{{ team.name }}</h3>
          <a class="button" href="{% url 'teams:leave_team' game.id %}">Leave team</a>
        </div>
      {% else %}
        <table>
          {% for team in game.teams.all %}
            <tr>
              <td>{{ team.name }}</td>
              <td class="align-right">
                <a class="button" href="{% url 'teams:join_team' game.id team.id %}">Join team</a>
              </td>
            </tr>
          {% endfor %}
        </table>
        <form method="post" action="{% url 'teams:create_team' game.id %}">
          {% csrf_token %}
          <div class="flex">
            <label for="team_name">Create new team:</label>
            <input type="text" id="id-team-name" name="team_name" placeholder="Team name"/>
            <input type="submit" value="Create team"/>
          </div>
        </form>
      {% endif %}
    </div>
  {% endif %}

{% endblock content %}
