{% extends 'base.html' %}
{% load static %}

{% block class %}
  index
{% endblock %}

{% block content %}
  <div class="card">
    <h2>Rounds</h2>
    {% if request.user.is_authenticated %}
      {% include "games/partials/round_table_admin.html" %}
    {% elif game.players_can_see_details %}
      {% include "games/partials/round_table_player.html" %}
    {% else %}
      You will be able to see the rounds when the game is about to start
    {% endif %}
  </div>
  <div class="card">
    <h2>Teams</h2>
    <table>
      <tr>
        <th>Team name</th>
        <th>Score</th>
      </tr>
      {% for team_ in game.teams.all %}
        <tr>
          <td {% if team == team_ %}class="player-team"{% endif %}>{{ team_.name }}</td>
          <td>{{ team_.display_score }}</td>
        </tr>
      {% endfor %}
    </table>
  </div>
  {% if request.user.is_anonymous %}
    <div class="card">
      <h2>Your Team</h2>
      {% include "games/partials/show_team.html" %}
    </div>
  {% endif %}

{% endblock content %}

{% block page_js %}
  <script>
    $(document).ready(function () {
      function reload_round_table() {
        $.get({
          url: '{% url "games:game_table" game.id %}',
          success: (response) => {
            $('table.player').html(response);
          }
        });
      }

      if ($('table.player')) {
        window.setInterval(reload_round_table, 3000);
      }
    });
  </script>
{% endblock %}
