{% extends 'base.html' %}

{% block class %}
  index
{% endblock %}

{% block content %}
  <div class="card">
    <h1>{{ game.name }}</h1>
    <p>{{ game.start_time }}</p>
  </div>
  <div class="card">
    <h2>Rounds</h2>
    {% if request.user.is_authenticated %}
      {% include "games/partials/round_table_admin.html" %}
    {% else %}
      {% include "games/partials/round_table_player.html" %}
    {% endif %}
  </div>

  {% if not request.user.is_authenticated %}
    <div class="card">
      <h2>Team</h2>
      {% if team %}
        <div class="flex">
          <h4>{{ team.name }}</h4>
          <a class="button" href="{% url 'teams:leave_team' game.id %}">Leave team</a>
        </div>
      {% else %}
        <form method="post" action="{% url 'teams:create_team' game.id %}">
          {% csrf_token %}
          <div class="flex">
            <label for="team_name">Team name:</label>
            <input type="text" id="id-team-name" name="team_name"/>
            <input type="submit" value="Create team"/>
          </div>
        </form>
      {% endif %}
    </div>
  {% endif %}

{% endblock content %}
