{% extends 'games/round_base.html' %}

{% block class %}
  mark-round
{% endblock %}

{% block content %}
  <h2>Round {{ round.number }} - {{ round.name }}</h2>

  {% for question in round.questions.all %}
    <div class="card">
      <div>
        <h1>{{ question.number }}. {{ question.text }}</h1>
      </div>
      {% if question.details %}
        <p>{{ question.details|linebreaks }}</p>
      {% endif %}
      <p>Out of {{ question.out_of }}</p>
    </div>
  {% endfor %}
  <a class="button"
     href="{% url 'games:end_round' round.game.id round.number %}"
  >Done marking</a>
{% endblock content %}
