{% extends 'games/round_base.html' %}

{% block class %}
  player-answer
{% endblock %}

{% block content %}
  {% load questions %}
  {% load static %}

  <div class="timer" hidden></div>
  <div id="seconds-left" hidden></div>

  <h1>Round {{ round.number }} - {{ round.name }}</h1>
  {% if team %}
    <form method="post" action="{% url 'games:submit_answers' round.game.id round.number %}">
      {% csrf_token %}
      {% for question in round.questions.all %}
        <div class="card">
          {% include "games/partials/question.html" %}
          <div class="flex">
            <label for="{{ question.pk }}">Answer:</label>
            <textarea type="text" id="id-{{ question.pk }}" name="{{ question.pk }}">{% if answers %}{{ answers|get_answer:question.pk }}{% endif %}</textarea>
          </div>
        </div>
      {% endfor %}
      <div class="bottom-buttons">
        <input type="submit" value="Submit answers" class="hidden"/>
        <a id="see-answers" class="button primary hidden" href="{% url 'games:answer' round.game.id round.number 1 %}">See answers</a>
      </div>
    </form>
  {% else %}
    {% for question in round.questions.all %}
      <div class="card">
        {% include "games/partials/question.html" %}
      </div>
    {% endfor %}
  {% endif %}
{% endblock content %}

{% block page_js %}
  <script>
    const url = '{% url "games:time_left" round.game.id round.number %}';
  </script>
  <script src="{% static 'js/countdown_timer.js' %}"></script>
  <script>
    $(document).ready(function () {
      function checkIfMarked() {
        $.get({
          url: '{% url "games:round_state" game.id round.number %}',
          success: (response) => {
            if (response === 'True') {
              $('input[type="submit"]').addClass('hidden');
              $('a#see-answers').removeClass('hidden');
            } else {
              $('input[type="submit"]').removeClass('hidden');
              $('a#see-answers').addClass('hidden');
            }
          }
        });
      }

      checkIfMarked();
      if ($('input[type="submit"]')) {
        window.setInterval(checkIfMarked, 3000);
      }
    });
  </script>
{% endblock %}
