{% extends 'games/round_base.html' %}

{% block class %}
  player-answer
{% endblock %}

{% block content %}
  {% load questions %}
  {% load static %}

  <div class="timer" hidden></div>

  <h1>Round {{ round.number }} - {{ round.name }}</h1>
  {% if team %}
    <form method="post" action="{% url 'games:submit_answers' round.game.id round.number %}">
      {% csrf_token %}
      {% for question in round.questions.all %}
        <div class="card">
          {% include "games/partials/question.html" %}
          <div class="flex">
            <label for="{{ question.pk }}">Answer:</label>
            <textarea type="text" id="id-{{ question.pk }}" name="{{ question.pk }}">{% if answers %}{{ answers|get_answer:question.pk }}{% endif %}</textarea>
          </div>
        </div>
      {% endfor %}
      <input type="submit" value="Submit answers"/>
    </form>
  {% else %}
    {% for question in round.questions.all %}
      <div class="card">
        {% include "games/partials/question.html" %}
      </div>
    {% endfor %}
  {% endif %}
{% endblock content %}

{% block page_js %}
  <script>
    const url = '{% url "games:time_left" round.game.id round.number %}';
  </script>
  <script src="{% static 'js/countdown_timer.js' %}"></script>
{% endblock %}
