{% extends 'games/round_base.html' %}

{% block class %}
  question
{% endblock %}

{% block content %}
  <div class="card full-size">
    <h1>Round {{ round.number }} - {{ round.name }}</h1>
    {% include "games/partials/question.html" with answer=True %}
    <h4>Answer</h4>
    <h3>{{ question.answer }}</h3>
    <div class="buttons">

      <a class="button"
         href="{% url 'games:answer' round.game.id round.number question.number|add:"-1" %}"
         {% if question.number <= 1 %}disabled{% endif %}
      >Previous</a>
      <a class="button"
         href="{% url 'games:answer' round.game.id round.number question.number|add:"1" %}"
         {% if question.number >= round.questions.count %}disabled{% endif %}
      >Next</a>
    </div>
  </div>
  <div class="bottom-buttons">
    {% if request.user.is_authenticated and round == round.game.current_round %}
      <a class="button" href="{% url 'games:start_marking' round.game.id round.number %}">Go back to marking</a>
      <a class="button {% if question.is_last %}primary{% endif %}" href="{% url 'games:end_round' round.game.id round.number %}">End round</a>
    {% else %}
      <a class="button" href="{% url 'games:game' game.id %}">Lobby</a>
    {% endif %}
  </div>
{% endblock content %}
