{% extends 'games/round_base.html' %}

{% block class %}
  question
{% endblock %}

{% block content %}
  <div class="card full-size">
    <h1>Round {{ round.number }} - {{ round.name }}</h1>
    {% include "games/partials/question.html" %}
    <div class="buttons">
      <a class="button"
         href="{% url 'games:question' round.game.id round.number question.number|add:"-1" %}"
         {% if question.number <= 1 %}disabled{% endif %}
      >Previous</a>
      <a class="button{% if round.lightning %} primary{% endif %}"
         href="
      {% if round.lightning %}
        {% url 'games:answer' round.game.id round.number question.number %}
      {% else %}
        {% url 'games:question' round.game.id round.number question.number|add:"1" %}
      {% endif %}
      " {% if not round.lightning and question.number >= round.questions.count %}disabled{% endif %}
      >Next</a>
    </div>
  </div>
  <div class="bottom-buttons">
    {% if not round.lightning %}
      <span>
        Stop screen-sharing → open breakout rooms →
        <a class="button {% if question.is_last %}primary{% endif %}" href="{% url 'games:start_marking' round.game.id round.number %}">Mark</a>
      </span>
    {% endif %}
  </div>
{% endblock content %}
