{% extends 'games/round_base.html' %}

{% block class %}
  question
{% endblock %}

{% block content %}
  <div class="card full-size">
    <h1>Round {{ round.number }} - {{ round.name }}</h1>
    {% include "games/partials/question.html" %}
    <div class="buttons">
      <a class="button"
         href="{% url 'games:question' round.game.id round.number question.number|add:"-1" %}"
         {% if question.number <= 1 %}disabled{% endif %}
      >Previous</a>
      <a class="button"
         href="{% url 'games:question' round.game.id round.number question.number|add:"1" %}"
         {% if question.number >= round.questions.count %}disabled{% endif %}
      >Next</a>
    </div>
  </div>
  <div class="bottom-buttons">
    {% if round.game.current_round == round and round.questions.count == question.number %}
      <span>
      Stop screen-sharing →
      <a class="button primary" href="{% url 'games:start_marking' round.game.id round.number %}">Mark</a>
      </span>
    {% endif %}
  </div>
{% endblock content %}
