<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Game link</th>
    <th>Zoom link</th>
    {% if request.user.is_staff %}
      <th>Visible?</th>
    {% endif %}
  </tr>
  {% for game in games %}
    <tr>
      <td>{{ game.id }}</td>
      <td><a href="{{ game.get_absolute_url }}">{{ game.name }}</a></td>
      <td>https://{{ request.get_host }}{{ game.get_absolute_url }}</td>
      <td>{{ game.zoom_link|safe }}</td>
      {% if request.user.is_staff %}
        <td>{{ game.visible|yesno|capfirst }}</td>
      {% endif %}
    </tr>
  {% endfor %}
</table>
