<h2>Welcome to the new, faster, Zoom Trivia!</h2>
{% if game %}
  <p><strong>{{ game.name }}</strong> will start on {{ game.start_time.date }} at <strong>{{ game.start_time.time }}</strong></p>
  {% if game.link %}
    <p><a href="{{ game.link }}">Zoom link</a></p>
  {% endif %}
{% endif %}
<h3>How it works</h3>
<h4>Before the game starts</h4>
<ul>
  <li>Create your team or join an existing team below</li>
  <li>Join the {% if game.link %}
    <a href="{{ game.link }}">Zoom event</a>
  {% else %}
    Zoom event
  {% endif %}
    and change your display name to your team name
  </li>
</ul>
<h4>How the game will work</h4>
<ul>
  <li>Each round you will be put into breakout rooms while you answer the questions.
    We will use your display name to help sort you into rooms.
  </li>
  <li>In this app, click the <strong>Start →</strong> button for the current round to go to the question page</li>
  <li>Only one team member should fill in and submit the questions. They may want to share their screen so that others can see what has been
    answered.
  </li>
  <li>There will be a timer that shows up when you have less than one minute to submit your answers</li>
  <li>After submitting, you can stay in your breakout room while the round gets marked</li>
  <li>After marking, you will be brought back into the main group, go over the answers, then start the next round</li>
</ul>
