<div>
  <h2>{{ question.number }}. {{ question.text }}</h2>
</div>
{% if question.image %}
  {% include "games/partials/question_image.html" %}
{% endif %}
{% if question.link %}
  <a class="center" href="{{ question.link }}" target="_blank">
    {% if question.link_display %}
      {{ question.link_display }}
    {% else %}
      Link
    {% endif %}
  </a>
{% endif %}
{% if question.details %}
  <p class="center">{{ question.details|linebreaksbr }}</p>
{% endif %}
<p>Out of {{ question.out_of }}</p>
