<table class="player">
  {% for round in game.rounds.all %}
    <tr>
    <td>
      <strong>Round {{ round.number }}</strong>
      {% if round.lightning %}
        <span class="secondary">⚡︎</span>
      {% endif %}
    </td>
    <td>{{ round.name }}</td>
    <td>{{ round.questions.count }} questions</td>
    <td style="width: 200px" class="text-center">
      {% if game.current_round == round %}
        {% if round.lightning %}
          Answer in Zoom chat
        {% elif game.not_started %}
          Waiting to start
        {% elif game.view_questions or game.answering %}
          <a class="button primary" href="{% url 'games:player_answers' game.id round.number %}">Start →</a>
        {% elif game.marking %}
          The round is being marked
        {% elif game.marked %}
          <a class="button primary" href="{% url 'games:answer' game.id round.number 1 %}">Show answers</a>
        {% endif %}
      {% elif round.complete %}
        <a class="button" href="{% url 'games:answer' game.id round.number 1 %}">View answers</a>
      {% elif not games.current_round and round.number == 1 and not round.complete %}
        Waiting to start
      {% endif %}
    </td>
  {% endfor %}
</table>
