<table>
  {% for round in game.rounds.all %}
    <tr>
    <td><strong>Round {{ round.number }}</strong></td>
    <td>{{ round.name }}</td>
    <td style="width: 200px" class="text-center">
      {% if game.current_round == round %}
        {% if game.round_state == 0 %}
          Waiting to start
        {% elif game.round_state == 1 or game.round_state == 2 %}
          <a class="button primary" href="{% url 'games:player_answers' game.id round.number %}">Start</a>
        {% elif game.round_state == 3 %}
          <a class="button primary" href="{% url 'games:answer' game.id round.number 1 %}">Show answers</a>
        {% endif %}
      {% elif round.complete %}
        <a class="button" href="{% url 'games:answer' game.id round.number 1 %}">View answers</a>
      {% elif not games.current_round and round.number == 1 and not round.complete %}
        Waiting to start
      {% endif %}
    </td>
  {% endfor %}
</table>
