// project specific CSS goes here

////////////////////////////////
//Variables//
////////////////////////////////

// Alert colors

$white: #fff;
$mint-green: #d6e9c6;
$black: #000;
$blue: #007bff;
$pink: #f2dede;
$dark-pink: #eed3d7;
$red: #b94a48;

$primary: #e94573;
$secondary: #2580ef;

$fancy-font: "Cedarville Cursive", sans-serif;

////////////////////////////////
//Alerts//
////////////////////////////////

// bootstrap alert CSS, translated to the django-standard levels of
// debug, info, success, warning, error

.alert-debug {
  background-color: $white;
  border-color: $mint-green;
  color: $black;
}

.alert-error {
  background-color: $pink;
  border-color: $dark-pink;
  color: $red;
}

////////////////////////////////
//Extend bootstrap//
////////////////////////////////

.navbar {
  min-height: 60px;
  line-height: 40px;
  padding: 0 36px 0 72px;
  font-size: 20px;
  font-weight: 500;
  color: white;
  background-color: $primary;
  z-index: 1;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.20);
}

.navbar {
  align-items: baseline;
  padding-top: 5px;
}

.navbar-brand {
  font-size: 2rem;
  font-family: $fancy-font;
}

.navbar-description {
  margin-left: 20px;
  font-size: 1.1rem;
}

.nav-link {
  font-size: 1rem;
}

a {
  color: $secondary;

  &:hover {
    color: darken($secondary, 15);
  }
}

////////////////////////////////
//Layouts//
////////////////////////////////

.bg-base {
  background-color: #fafafa;
}

div.container {
  max-width: 90%;
  margin: 8vh auto;
}

div.card {
  margin: 6vh auto;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  overflow: hidden;
  border-radius: 2px;
  background-color: white;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);

  > * {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

////////////////////////////////
//Buttons//
////////////////////////////////

a.button, button, input[type="submit"] {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  border-radius: 2px;
  font-size: 0.9rem;
  font-weight: 500;
  margin-right: 5px;
  padding: 8px 16px;
  text-transform: uppercase;
  border: 0;
  background-image: none;
  background-color: white;
  text-shadow: none;
  position: relative;
  color: $primary;

  &[disabled] {
    background-color: rgba(0, 0, 0, 0.12) !important;
    color: rgba(0, 0, 0, 0.25) !important;
    box-shadow: none !important;
    cursor: default;
  }

  &.primary {
    background-color: $primary;
    color: white;
  }

  &.secondary {
    color: $secondary;
  }

  &.active {
    background-color: $primary;
    color: white;

    &.secondary {
      background-color: $secondary;
    }
  }
}

a.button:hover {
  text-decoration: none;
}

////////////////////////////////
//Components//
////////////////////////////////

div.img {
  height: 200px;
  img {
    max-height: 100%;
    max-width: 100%;
  }
}

table {
  border: 1px solid #DDD;
  border-radius: 10px;

  td, th {
    padding: 12px 10px;
  }

  td.player-team {
    font-weight: 600;

    &::before {
      content: "⭑";
      display: inline-block;
      padding-right: 8px;
      vertical-align: baseline;
      font-size: 1.5rem;
      color: $primary;
    }
  }

  tr:first-child {
    background-color: #EEE !important;
    border-bottom: 1px solid #DDD;
  }

  tr:nth-child(odd) {
    background-color: #F2F2F2;
  }

  &.marking-table {
    td.team {
      min-width: 250px;
    }
    td.points {
      width: 250px;
    }
  }
}

.timer {
  position: fixed;
  top: 10px;
  right: 20px;
  padding: 5px 20px;
  vertical-align: center;
  text-align: center;
  background-color: white;
  color: $secondary;
  font-size: 2rem;
  font-weight: bold;
  z-index: 1000;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
////////////////////////////////
//Sections//
////////////////////////////////
a.lobby-link {
  float: left;
  position: absolute;
  top: 10px;
  left: 20px;
  color: $primary;
}

.index {
  h2 {
    font-size: 1.5rem;
    font-weight: normal;
  }

  h3 {
    font-size: 1.4rem;
  }

  h4 {
    font-size: 1.1rem;
  }
}

.round-start {
  min-height: 450px;
  text-align: center;

  h1 {
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 7rem;
    font-family: $fancy-font;
  }

  h2 {
    font-size: 2rem;
  }
}

.question {
  min-height: 450px;
  text-align: center;

  h1 {
    font-size: 1.5rem;
    font-family: $fancy-font;
  }

  h2 {
    font-size: 2rem;
  }
}

.buttons {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.bottom-buttons {
  display: flex;
  width: 50%;
  justify-content: space-around;
  margin: auto;
}

.mark-round {
  h1 {
    font-size: 1.5rem;
    font-family: $fancy-font;
  }

  h2 {
    font-size: 1.5rem;
  }
}

.player-answer {
  h1 {
    font-size: 1.5rem;
    font-family: $fancy-font;
  }

  h2 {
    font-size: 1.5rem;
  }
}

.post-submit {
  h1 {
    font-size: 1.8rem;
    font-family: $fancy-font;
  }

  h2 {
    font-size: 1.2rem;
    margin: 30px auto;
  }

  .buttons {
    max-width: 600px;
    margin: 20px auto;
  }
}

////////////////////////////////
//Forms//
////////////////////////////////
form {
  div.flex {
    label {
      min-width: max-content;
    }

    input[type="text"], textarea {
      width: 100%;
    }
  }
}

////////////////////////////////
//Helper classes//
////////////////////////////////

.full-size {
  min-height: 80vh;
}

.flex {
  display: flex;

  > * {
    margin-left: 10px;
    margin-right: 10px;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.margin-left {
  margin-left: 28px;
}

.align-right {
  text-align: right;
}

.center {
  margin: 10px auto;
}

@media (max-width: 767px) {
  html {
    font-size: 12px;
  }
  div.container {
    margin: 5vh auto;
    max-width: 98%;
  }
  div.card {
    margin: 2vh auto;
    padding: 10px;
  }

  a.button, button, input[type="submit"] {
    padding: 4px 8px;
  }
  .index {
    table {
      td {
        padding: 3px;
      }
    }
  }
}
