



// project specific CSS goes here

////////////////////////////////
		//Variables//
////////////////////////////////

// Alert colors

$white: #fff;
$mint-green: #d6e9c6;
$black: #000;
$blue: #007bff;
$pink: #f2dede;
$dark-pink: #eed3d7;
$red: #b94a48;

$primary: #e94573;
$secondary: #2580ef;

////////////////////////////////
		//Alerts//
////////////////////////////////

// bootstrap alert CSS, translated to the django-standard levels of
// debug, info, success, warning, error

.alert-debug {
  background-color: $white;
  border-color: $mint-green;
  color: $black;
}

.alert-error {
  background-color: $pink;
  border-color: $dark-pink;
  color: $red;
}

////////////////////////////////
//Extend bootstrap//
////////////////////////////////

.navbar {
  min-height: 60px;
  line-height: 40px;
  padding: 0 36px 0 72px;
  font-size: 20px;
  font-weight: 500;
  color: white;
  background-color: $primary;
  z-index: 1;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.20);
}

.navbar-brand {
  font-family: "Comfortaa", sans-serif;
}

.nav-link {
  font-size: 1rem;
}

a {
  color: $secondary;
  &:hover {
    color: darken($secondary, 15);
  }
}

////////////////////////////////
//Layouts//
////////////////////////////////

.bg-base {
  background-color: #fafafa;
}

div.container {
  max-width: 90%;
  margin: 10vh auto;
}

div.card {
  margin: 10vh auto;
  display: flex;
  justify-content: space-between;
  padding: 40px 50px;
  overflow: hidden;
  border-radius: 2px;
  background-color: white;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);

  > * {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

////////////////////////////////
//Buttons//
////////////////////////////////

a.button, button.points {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  border-radius: 2px;
  font-size: 14px;
  font-weight: 500;
  margin-right: 5px;
  padding: 8px 16px;
  min-height: calc(16px + 1.42857143em);
  text-transform: uppercase;
  border: 0;
  background-image: none;
  background-color: white;
  text-shadow: none;
  position: relative;
  color: $primary;
  &[disabled] {
    background-color: rgba(0, 0, 0, 0.12) !important;
    color: rgba(0, 0, 0, 0.25) !important;
    box-shadow: none !important;
    cursor: default;
  }
  &.secondary {
    color: $secondary;
  }
  &.active {
    background-color: $primary;
    color: white;
    &.secondary {
      background-color: $secondary;
    }
  }
}

a.button:hover {
  text-decoration: none;
}

////////////////////////////////
//Sections//
////////////////////////////////
.index {
  h1 {
    margin: 0;
    font-size: 2rem;
    font-family: "Comfortaa", sans-serif;
  }
  h2 {
    font-size: 1.5rem;
    font-weight: normal;
  }
  table {
    border: 1px solid #EEE;
    border-radius: 10px;
    td {
      padding: 12px 10px;
    }
    tr:nth-child(even) {
      background-color: #f8f8f8;
    }
  }
}

.round-start {
  min-height: 450px;
  text-align: center;
  h2 {
    font-size: 2rem;
    font-family: "Comfortaa", sans-serif;
  }
  h1 {
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 7rem;
    font-family: "Comfortaa", sans-serif;
  }
}

.question {
  min-height: 450px;
  text-align: center;

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 1.5rem;
    font-family: "Comfortaa", sans-serif;
  }
}

.buttons {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.mark-round {
  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.5rem;
    font-family: "Comfortaa", sans-serif;
  }
}


////////////////////////////////
//Helper classes//
////////////////////////////////

.full-size {
  min-height: 80vh;
}
